body {
    margin: 0px;
}

.logo-header {
    width: 160px;
    position: center;
}

.header {
    /* background-image: url("img/pattern.png"); */
    background-color: #9fcef7;
    padding: 25px 15px;
}

main {
    padding: 15px;
}

.titolo-articolo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    margin-bottom: 0px;
}

span.scritto-da {
    font-size: 15px;
    color: #999
}

span.data-pubblicaz {
    font-size: 12px;
    color: #999;
}

em {
    font-style: normal;
    color: #abf;
}

div.sezione-foto {
    margin-top: 10px;

}

.immagini {
    height: 370px;
    /* le due immagini hanno proporzioni diverse, ma nella pagina esempio hanno la stessa altezza. considerando che se definiamo una misura, l'altra si adatta mantenendo le proporzioni ho deciso di definire l'altezza e ottenere il risultato richiesto*/

}

span.descrizione-img {
    font-size: 13px;
}

div.lista ul {
    padding: 15px;
}

th {
    text-align: left;
    background-color: rgb(109, 157, 254);
    color: white;
}

th.colonna1,
th.colonna2 {
    width: 25%;
}

tr.riga1 td,
tr.riga3 td {
    background-color: rgb(202, 216, 231);
}

div.footer {
    background-color: #117;
    padding: 10px;
}

div.footer p {
    text-align: center;
    vertical-align: center;
    color: white;
}